[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=code-here

[Desktop Action code-here]
Name=Open VSCode Here
Icon=com.visualstudio.code
TryExec=code
Exec=cd %f && code --no-sandbox --unity-launch .