[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=code-here

[Desktop Action code-here]
Name=Code here
Icon=code-oss
TryExec=code-oss
Exec=cd %f && code-oss --no-sandbox --unity-launch .