[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=git-cola-here

[Desktop Action git-cola-here]
Name=Git Cola here
Icon=git-cola
TryExec=git-cola
Exec=git-cola -r %f
