[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=baobab-here

[Desktop Action baobab-here]
Name=Disk Usage Analyzer here
Icon=org.gnome.baobab
TryExec=baobab
Exec=baobab %f