[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=baobab-here

[Desktop Action baobab-here]
Name=Check Free Disk Space Here
Name[nl]=Vrije schijfruimte controleren
Icon=org.gnome.baobab
TryExec=baobab
Exec=baobab %f