[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=all/all
X-KDE-Priority=TopLevel
Actions=copy-path

[Desktop Action copy-path]
Name=Copy Path
Name[nl]=Locatie kopiëren
Icon=edit-copy
TryExe=xclip
Exec=echo %U | tr -d '\n' | xclip -selection clipboard