[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
X-KDE-Priority=TopLevel
Actions=xnview-here

[Desktop Action xnview-here]
Name=Open XnView Here
Name[nl]=XnView hier openen
Icon=/opt/xnviewmp/xnview.png
TryExec=xnviewmp
Exec=xnviewmp %f